html {
  /* scroll-behavior: smooth; */
}

.dark .active-nav {
  background-color: #25262b !important;
}

.active-nav {
  background-color: #f8f9fa !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  font-size: 0.9rem;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  /* font-family: "__DM_Serif_Text_696bbb", "__DM_Serif_Text_Fallback_696bbb"; */
}
p {
  font-weight: 400;
}

.ProseMirror {
  height: 100%;
  outline: unset;
  margin: 1em 0;
  padding: 3rem;
  padding-bottom: 10em !important;
}

@media (min-width: 600px) and (max-width: 900px) {
  .ProseMirror {
    height: 100%;
    outline: unset;
    margin: 1em 0;
    padding: 3rem;
  }
}

@media (min-width: 300px) and (max-width: 599px) {
  .ProseMirror {
    height: 100%;
    outline: unset;
    margin: 0px;
    padding: 0px;
  }
}

.animate {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hover-unsplash-card:hover .hovered-unsplash-meta {
  display: block;
}
